.App {
  text-align: center;
}
.delete{
  background-color: cyan;
  color: red;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.table{
  width: 75%;

}
.update{
  background-color: green;
  color: red;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar_warapper a{
  padding-left: 30px;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
}
.div a{
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  Navbar.Brand:row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
